html, body {
    overflow-y: auto;
  }

a {
    color :gold;
    text-decoration: none;
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease;
    transform-origin: left;
    white-space: nowrap;
    margin: 0; padding: 0;
    overflow-x: hidden;
}
  
a:hover {
    color: darkgoldenrod;
    transform: scale(1.2);
}